.chat-side
  = render "devise/shared/chat-side"
.chat-main
  .chat-main__header
    .chat-main__header__box
      .chat-main__header__box__gname
        = @group.name
      .chat-main__header__box__list
        Member:
    .chat-main__header__btn
      .chat-main__header__btn__frame
        = link_to edit_group_path(@group), class: "chat-main__header__btn__frame__font" do
          edit
  .chat-main__messages
    = render partial: "messages", collection: @messages, as: :message
  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__box
        = f.text_field :body, class: "chat-main__form__box__area", placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__box__image' do
          = fa_icon 'picture-o', class: 'chat-main__form__box__image__file'
          = f.file_field :image, class: 'chat-main__form__box__image__file'
      .chat-main__form__btn
        = f.submit 'Send', class: 'chat-main__form__btn--style'